body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Microsoft YaHei', Arial, 'Lucida Grande', Tahoma, sans-serif;
  background-color: #eee;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 {
  font-family: 'Microsoft YaHei', Arial, 'Lucida Grande', Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
body .panel .panel-heading {
  font-size: 16px;
}
body label {
  font-size: 15px;
}
body .container {
  width: 1200px;
}
body .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
body .form-signin .form-signin-heading,
body .form-signin .checkbox {
  margin-bottom: 10px;
}
body .form-signin .checkbox {
  font-weight: normal;
}
body .form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body .form-signin .form-control:focus {
  z-index: 2;
}
body .form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
body .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body ul.nav-tree li {
  font-size: 16px;
}
body .dataTableContainer {
  margin-top: 15px;
}
body table tr.even.row_selected td {
  background-color: #B0BED9;
}
body table tr.odd.row_selected td {
  background-color: #9FAFD1;
}
body .project-process-container {
  margin: 20px 0 0 30px;
}
body .project-process-container a.button,
body .project-process-container a.button {
  font-size: 15px;
}
body .project-process-container a.button:hover,
body .project-process-container a.button:hover {
  color: #666;
  text-decoration: none;
}
body .project-process-container a.button-highlight,
body .project-process-container a.button-action {
  font-size: 15px;
}
body .project-process-container a.button-highlight:hover,
body .project-process-container a.button-action:hover {
  color: #FFF;
  text-decoration: none;
}
body .project-process-container .process-row {
  margin-top: 5px;
  margin-bottom: 5px;
}
body .project-process-container .process-row .button-pill {
  margin-top: 45px;
}
body .dd-selected:hover {
  text-decoration: none;
}
body .dd-option:hover {
  text-decoration: none;
}
